<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>compileBitcode</key>
    <false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.appadoes</key>
		<string>a8cb4029-5775-4d9c-a07f-4b226648c294</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2PNFD8677U</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
