<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeAgenda.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>010DB48E76607D94213BAA1DEDEC73EC84ED37F1</string>
				<key>dateExpires</key>
				<string>5/21/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PNFD8677U.com.appadoes</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PNFD8677U</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2PNFD8677U.com.appadoes</string>
				</array>
			</dict>
			<key>name</key>
			<string>Appa Time Tracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>16335f4f-d1ac-41dd-a7ba-05bd09755b17</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PNFD8677U</string>
				<key>name</key>
				<string>Wepala LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
