name: Test and Build Android & iOS
on: [push, pull_request]

jobs:
  install-test-and-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        node: [13]

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node @ version
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install npm dependencies
        run: |
          npm install
      - name: Run tests
        run: |
          npm run lint && npm test
      - name: Install JDK for SDK to work
        uses: actions/setup-java@v1
        with:
          java-version: 12 # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64
      - name: Install NDK # Temp fix for ongoing gradle issue
        run: |
          echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      - name: Build debug APK
        run: |
          npm run bundle-android
          cd android && ./gradlew clean assembleDebug
        env:
          API_URL: ${{ secrets.API_URL }}
          TEMP_USER_JWT: ${{ secrets.TEMP_USER_JWT }}
      - name: Upload debug APK
        uses: actions/upload-artifact@v2
        with:
          name: app-debug.apk
          path: android/app/build/outputs/apk/debug/
      - name: Send failure notification
        uses: rtCamp/action-slack-notify@v2.0.0
        if: failure()
        env:
          SLACK_CHANNEL: weagenda
          SLACK_COLOR: "#FF0000"
          SLACK_ICON: https://github.com/wepala.png?size=48
          SLACK_MESSAGE: Your recent update was not correctly linted, failed tests or could not build an app
          SLACK_TITLE: Lint/Test failed
          SLACK_USERNAME: WeAgenda
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  build-android:
    runs-on: ubuntu-18.04
    needs: [install-test-and-build]
    if: contains(github.ref, 'release/')

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node @ version
        uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Install npm dependencies
        run: |
          npm install
      - name: Install JDK for SDK to work
        uses: actions/setup-java@v1
        with:
          java-version: 12 # The JDK version to make available on the path.
          java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
          architecture: x64 # (x64 or x86) - defaults to x64
      - name: Install NDK # Temp fix for ongoing gradle issue
        run: |
          echo "y" | sudo /usr/local/lib/android/sdk/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      - name: Generate keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE }}" > release.keystore.asc
          gpg -d --passphrase "${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" --batch release.keystore.asc > app/weagenda.keystore
      - name: Build release APK
        run: |
          npm run bundle-android
          cd android && ./gradlew clean assembleRelease
        env:
          API_URL: ${{ secrets.API_URL }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
      - name: Upload debug APK
        uses: actions/upload-artifact@v2
        with:
          name: app-release.apk
          path: android/app/build/outputs/apk/release/
      - name: Send failure notification
        uses: rtCamp/action-slack-notify@v2.0.0
        if: failure()
        env:
          SLACK_CHANNEL: weagenda
          SLACK_COLOR: "#FF0000"
          SLACK_ICON: https://github.com/wepala.png?size=48
          SLACK_MESSAGE: Tests passed for your code changes but we aren't able to generate and Android app
          SLACK_TITLE: Could not build Android APK
          SLACK_USERNAME: WeAgenda
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  build-ios:
    runs-on: macos-10.15
    needs: [install-test-and-build]
    if: contains(github.ref, 'release/')

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node @ version
        uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Install npm dependencies
        run: |
          npm install
      - name: Install pod dependencies
        run: |
          cd ios && pod install
      - name: Build app
        run: |
          cd ios
          xcodebuild clean archive \
            -workspace WeAgenda.xcworkspace \
            -scheme WeAgenda \
            -configuration Release \
            -archivePath build/WeAgenda.xcarchive \
            -allowProvisioningUpdates \
            IPHONEOS_DEPLOYMENT_TARGET=9.0
          xcodebuild \
            -exportArchive \
            -archivePath build/WeAgenda.xcarchive \
            -exportPath . \
            -exportOptionsPlist WeAgenda/Info.plist
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: WeAgenda.ipa
          path: ios/
      - name: Send failure notification
        uses: rtCamp/action-slack-notify@v2.0.0
        if: failure()
        env:
          SLACK_CHANNEL: weagenda
          SLACK_COLOR: "#FF0000"
          SLACK_ICON: https://github.com/wepala.png?size=48
          SLACK_MESSAGE: Tests passed for your code changes but we aren't able to generate and iOS app
          SLACK_TITLE: Could not build iOS app
          SLACK_USERNAME: WeAgenda
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  build-success-notification-release:
    runs-on: ubuntu-18.04
    if: contains(github.ref, 'release/')
    needs: [build-android, build-ios]
    steps:
      - name: Send success notification
        uses: rtCamp/action-slack-notify@v2.0.0
        env:
          SLACK_CHANNEL: weagenda
          SLACK_COLOR: "#32BD65"
          SLACK_ICON: https://github.com/wepala.png?size=48
          SLACK_MESSAGE: We were able to test and build your code without problems. Pat yourself on the back
          SLACK_TITLE: Apps built for release
          SLACK_USERNAME: WeAgenda
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  build-success-notification:
    runs-on: ubuntu-18.04
    if: "!contains(github.ref, 'release/')"
    needs: [install-test-and-build]
    steps:
      - name: Send success notification
        uses: rtCamp/action-slack-notify@v2.0.0
        env:
          SLACK_CHANNEL: weagenda
          SLACK_COLOR: "#32BD65"
          SLACK_ICON: https://github.com/wepala.png?size=48
          SLACK_MESSAGE: We were able to test and build your code without problems. Not bad
          SLACK_TITLE: Branch tests passed
          SLACK_USERNAME: WeAgenda
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
